<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Back 2 Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <div id="container">
  <ion-card>

    <ion-card-header>
      <ion-card-title>Recuperar Contraseña</ion-card-title>
      <ion-card-subtitle> Se le enviara un mensaje a su correo para recuperacion</ion-card-subtitle>
    </ion-card-header>

    <ion-list>
      <ion-item>
        <ion-input label="Mail:" placeholder="Ingrese su mail"></ion-input>
      </ion-item>
  
      <ion-button expand="block" (click)="goToLogin()">Enviar Mail de recuperacion</ion-button>
    </ion-list>
    
  </ion-card>
  </div>
</ion-content>